<mat-drawer-container>

  <mat-drawer mode="side" [opened]="true">
    <h1 (click)="redirectToPublicDefault()">OWN Housing Co-op</h1>

    <ul>
      <li>
        <a cdkFocusInitial [routerLink]="['/','workspace','profile']">Home</a>
      </li>

      <li>
        <a [routerLink]="['/','workspace','maintenance-requests', 'create']">Create a Maintenance Request</a>
      </li>

      <li>
        <a [routerLink]="['/','workspace','messages']">Messages</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.BoardMember) | async">
        <a [routerLink]="['/','workspace','board-members']">Board Members</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.ByLaw) | async">
        <a>By Laws</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.MaintenanceRequest) | async" [routerLink]="['/','workspace','maintenance-requests']">
        <a>Maintenance Requests</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.Member) | async">
        <a>Members</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.Notice) | async">
        <a>Notices</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.Report) | async">
        <a>Reports</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.StaffMember) | async">
        <a>Staff Members</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.User) | async">
        <a [routerLink]="['/','workspace','users']">Users</a>
      </li>

      <li *ngIf="hasReadWritePrivileges$(Aggregate.Role) | async">
        <a [routerLink]="['/','workspace','roles']">Roles</a>
      </li>

      <li>
        <a [routerLink]="['/','workspace','settings']">Settings</a>
      </li>

      <li>
        <a [routerLink]="['/','workspace','content']">Content</a>
      </li>

      <li>
        <a (click)="logout()">Logout</a>
      </li>

    </ul>

  </mat-drawer>

  <mat-drawer-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>

</mat-drawer-container>
