
@use '/src/scss/breakpoints';

:host {

  .drawer__close-button {
    position: absolute;
    top:20px;
    right: 20px;
  }

  mat-drawer {
    width: 100%;
  }

  mat-drawer-content {
    padding-top:40px;
  }
  .workspace-header {
    min-height: 70px;
    display: grid;
    position: fixed;
    top:0;
    width: 100vw;
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    padding:0 20px;
    place-items: center center;
    box-shadow: var(--box-shadow, none);
    background-color: #fff;
    z-index: 100;

    h1 {
      display: block;
      width: 100%;
    }
  }

  h1 {
    padding:0px 30px;
    margin: 0px;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
  }

  mat-drawer-container {
    height: 100%;
    min-height: 100vh;
  }

  mat-drawer {
    min-width: 22.5rem;
    padding-top: 60px;
  }

  ul, li {
    list-style: none;
    padding:0;
    margin:0;
  }

  ul {
    padding:30px;
  }

  li {
    cursor: pointer;
    a {
      line-height: 3em;
      text-transform: uppercase;
      padding: 0;
      user-select: none;
      font-size: 0.875rem;
      font-weight: 500;
      color: #000;
      text-decoration: none;
    }

    a:hover {

      color: #96C081;
    }
  }

  main {
    padding:60px 30px;
    display: block;
    box-sizing: border-box;
    min-height: 100vh;
  }
}

@media screen and (min-width: breakpoints.$screen-md) {
 :host {
  .drawer__close-button {
    display: none;
  }

  mat-drawer {
    width: initial;
  }
  .workspace-header {
    display: none;
  }

  mat-drawer-content {
    padding-top:0;
  }
 }


}
