<ng-container *ngIf="vm$ | async as vm">

  <h2 class="g-tab-heading">Splash</h2>

  <form [formGroup]="vm.form">

    <h3>Images</h3>

    <div class="g-digital-asset-uploads-container">

      <app-digital-asset-upload formControlName="doors"></app-digital-asset-upload>

      <app-digital-asset-upload formControlName="building"></app-digital-asset-upload>

    </div>

    <h3>Text</h3>

    <app-html-editor formControlName="rawText"></app-html-editor>

  </form>

  <div class="g-actions">
    <button mat-raised-button (click)="save(vm.jsonContentId, vm.form.value)">Save</button>
  </div>
</ng-container>
