<ng-container *ngIf="vm$ | async as vm">

  <h2 class="g-tab-heading">Splash</h2>

  <form [formGroup]="vm.form">

    <mat-form-field appearance="outline" class="g-form-field">
      <mat-label>Doors</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="g-form-field">
      <mat-label>Building</mat-label>
      <input matInput>
    </mat-form-field>
    <app-html-editor></app-html-editor>
  </form>

  <div class="g-actions">
    <button mat-raised-button (click)="save(vm.form)">Save</button>
  </div>
</ng-container>
