:host {
  .profile__actions {
    position: absolute;
    top: 60px;
    right: 30px;
    display: flex;
    gap:0.0625rem;
    direction: rtl;

    button {
      height: 3.5rem;
      width: 3.5rem;
      line-height: 3.5rem;

      .mat-icon {
        font-size: 2rem;
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
      }

    }

  }

  app-bento-box {
    margin-bottom: 60px;
  }


}
