<ng-container *ngIf="vm$ | async as vm">

  <div *ngIf="false" class="profile__actions">
    <button mat-icon-button class="profile__actions--settings" (click)="handleSettingsClick()">
      <mat-icon>
        settings
      </mat-icon>
    </button>

    <button mat-icon-button class="profile__actions--messenger" (click)="handleMessengerClick()">
      <mat-icon>
        mail_outline
      </mat-icon>
    </button>
  </div>


  <app-bento-box>

    <app-id main [formControl]="vm.avatarFormControl" [heading1]="vm.profile.fullname" [heading2]="vm.profile.jobTitle">

    </app-id>

  </app-bento-box>

  <!-- Member profile only -->
  <div class="g-section">

    <div class="g-section-header">
      <h2>My Maintainence Requests</h2>
      <button [routerLink]="['/','workspace','maintenance-requests','create']" mat-stroked-button >Create</button>
    </div>

    <div class="g-grid-container">
      <app-maintenance-request-card [maintenanceRequest]="maintenanceRequest" *ngFor="let maintenanceRequest of vm.maintenanceRequests">

      </app-maintenance-request-card>
    </div>

  </div>

  <div class="g-section">

    <h2>Notices</h2>

    <div class="g-grid-container">

      <app-document-card [document]="notice" *ngFor="let notice of vm.notices">

      </app-document-card>

    </div>

  </div>

  <div class="g-section">

    <h2>By Laws</h2>

    <div class="g-grid-container">

      <app-document-card [document]="byLaw" *ngFor="let byLaw of vm.byLaws">

      </app-document-card>

    </div>

  </div>


  <div class="g-section">

    <h2>Reports</h2>

    <div class="g-grid-container">

      <app-document-card [document]="report" *ngFor="let report of vm.reports">

      </app-document-card>
    </div>

  </div>



</ng-container>
