@use '/src/scss/breakpoints';

.g-grid-container {
  display: grid;
  box-sizing: border-box;
  gap:30px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: breakpoints.$screen-md) {

  .g-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
