
.mat-typography {

  .g-content {
    font-size: var(--font-size, 1rem);
    p {
      font-size: 2rem;
      line-height: 2.25rem;
      margin-bottom: 1.5rem;
    }

    img {
      height: 20rem;
      float: left;
      padding-right: 24px;
      padding-bottom: 24px;
    }

    img:nth-of-type(2) {
      float: right;
      padding-right:0px;
      padding-bottom: 24px;
      padding-top: 24px;
      padding-left: 24px;
      height: 25rem;
    }
  }
}
