<ng-container *ngIf="vm$ | async as vm">

  <h2>Create Maintenace Request</h2>

  <form [formGroup]="vm.form">

    <mat-form-field class="g-form-field" appearance="outline">
      <mat-label>Member Name</mat-label>
      <input matInput type="text" formControlName="requestedByName">
    </mat-form-field>

    <app-address-editor formControlName="address">

    </app-address-editor>

    <app-html-editor formControlName="description">

    </app-html-editor>
  </form>

  <div class="g-actions">
    <button mat-stroked-button>Cancel</button>
    <button mat-raised-button (click)="save(vm.form.value)">Save</button>
  </div>
</ng-container>

