<ng-container *ngIf="vm$ | async as vm">

  <h2 *ngIf="vm.boardMember">Edit Board Member: {{ vm.boardMember.firstname + ' ' + vm.boardMember.lastname }}</h2>

  <h2 *ngIf="!vm.boardMember">Create Board Member</h2>

  <form [formGroup]="vm.form">

    <app-digital-asset-upload formControlName="avatarDigitalAssetId"></app-digital-asset-upload>
    <mat-form-field class="g-form-field" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="boardTitle">
    </mat-form-field>

    <mat-form-field class="g-form-field" appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>

    <mat-form-field class="g-form-field" appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
  </form>

  <div class="g-actions">
    <button mat-stroked-button (click)="cancel()">
      Cancel
    </button>
    <button mat-raised-button (click)="save(vm)">
      Save
    </button>
  </div>
</ng-container>
