@import 'src/scss/breakpoints.scss';

:host {
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  box-sizing: border-box;

  form {
    display: grid;
    grid-template-columns: 1fr;
  }
  mat-form-field {
    min-width: 0px;
  }
}

// @media screen and (min-width: $screen-lg) {
//   :host {
//     form {
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;
//       column-gap: 10px;
//     }

//     .street {
//       grid-column: 1 / 3;
//     }

//     .country {
//       grid-column: 1 / 4;
//     }
//   }
// }
