@import 'src/scss/breakpoints.scss';

:host {
  box-sizing: border-box;;
  display: block;
  box-sizing: border-box;

  form {
    display: grid;
    grid-template-columns: 1fr;
  }
  mat-form-field {
    min-width: 0px;
  }
}
