<h2>Content</h2>

<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['hero']">Hero</a>
  <a mat-tab-link [routerLink]="['splash']">Splash</a>
  <a mat-tab-link [routerLink]="['contact-us']">Contact Us</a>
  <a mat-tab-link [routerLink]="['board']">Board</a>
  <a mat-tab-link [routerLink]="['management']">Management</a>
  <a mat-tab-link [routerLink]="['on-call']">On Call</a>
  <a mat-tab-link [routerLink]="['rental-interest-and-information']">Rental Interest and Information</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
