<div *ngIf="vm$ | async as vm">

  <div class="g-heading-group">

    <h2>Maintenance Request List</h2>

  </div>


  <table mat-table [dataSource]="vm.dataSource" class="g-table" style="--grid-template-columns: 1fr 1fr 1fr 1fr 1fr">


      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let maintenanceRequest"> {{ maintenanceRequest.date | date: 'shortDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="requestedByName">
          <th mat-header-cell *matHeaderCellDef> Requested By Name </th>
          <td mat-cell *matCellDef="let maintenanceRequest"> {{ maintenanceRequest.requestedByName }} </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Unit</th>
        <td mat-cell *matCellDef="let maintenanceRequest"> {{ maintenanceRequest.address.unit }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let maintenanceRequest"> {{ convertFromEnum(maintenanceRequest.status) }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let maintenanceRequest" class="g-actions-cell">
            <a class="g-actiion-cell" (click)="receive(maintenanceRequest)">Receive</a>
            <a class="g-actiion-cell" (click)="start(maintenanceRequest)">Start</a>
            <a class="g-actiion-cell" (click)="update(maintenanceRequest)">Update</a>
            <a class="g-actiion-cell" (click)="complete(maintenanceRequest)">Complete</a>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="vm.columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let data; columns: vm.columnsToDisplay"></tr>

  </table>

  <mat-paginator #paginator [length]="vm.length$ | async" [pageSize]="vm.pageSize" [pageSizeOptions]="[5, 10, 20]" class="g-paginator" (page)="vm.dataSource.getPage({ pageIndex: paginator.pageIndex, pageSize: vm.pageSize })"></mat-paginator>

</div>

