@use '/src/scss/breakpoints';

:host {
  min-height: 70px;
  display: grid;
  padding:0 20px;
  place-items: center end;

  .header__container {
    display: none;
    grid-template-columns: 150px 1fr 150px;
    height: 7.5rem;
    place-items: center center;


    ul {
      display: flex;
      column-gap:40px;
      font-size: 1.25rem;
      flex-wrap: wrap;
      text-align: center;
    }

    ul, li {
      padding:0;
      margin:0;
      list-style: none;
      grid-column: 2;
    }

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
      }
    }

    .header__login {
      text-align: right;
      width: 100%;
    }

    .header__login {
      text-transform: uppercase;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: breakpoints.$screen-lg) {
  :host {
    display: block;

    .header__menu-button {
      display: none;
    }

    .header__container {
      display: grid;
    }
  }
}
