:host {
  .header__pre-heading-container {
    height: 7.5rem;
    position: relative;
    padding-top: 1.875rem;

    .header__link-list {
      padding:0;
      list-style: none;
      display: flex;
      text-transform: uppercase;
      position: relative;
      gap:30px;
      width: fit-content;
      line-height: 100px;
      cursor: pointer;
      user-select: none;
      margin: 0 auto;
      li a {
        color: #000;
        text-decoration: none;
      }
    }


    .header__login {
      position: absolute;
      top: 1.875rem;
      right: 1.875rem;
      text-transform: uppercase;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      font-size: 0.875rem;
      line-height: 100px;
    }
  }

  .header__logo-and-text-container {
    background-color: #4E87B5;
    height: 14rem;
    display: block;
    display: grid;
    place-items: center;

    .header__logo-container {
      display: grid;
      place-items: center;
      border-radius: 50%;
      height: 180px;
      width: 180px;
      background-color: #fff;
      img {
        height: 100px;
        mix-blend-mode: darken;
      }
    }

    .header__logo-and-text{
      display: grid;
      grid-template-columns:  auto auto;
      column-gap: 60px;
      width: fit-content;
      place-items: center start;
      height: 11.25rem;
      max-width: 1500px;
      margin: 0 auto;
      user-select: none;
      cursor: pointer;

      h1 {
        color: #fff;
        padding:0;
        margin:0;
      }

      h2 {
        color: #fff;
        padding:0;
        margin:0;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.15rem;
      }
    }
  }

}
