<ng-container *ngIf="vm$ | async as vm">

  <button mat-icon-button (click)="menuClick.emit()" class="header__menu-button">
    <mat-icon>
      menu
    </mat-icon>
  </button>

  <div class="header__container">
    <ul class="header__link-list">
      <li><a [routerLink]="['/','board-of-directors']">Board of Directors</a></li>
      <li><a [routerLink]="['/','management']">Management</a></li>
      <li><a [routerLink]="['/','on-call-staff']">On Call Staff</a></li>
      <li><a [routerLink]="['/','rental-interest-and-information']">Rental Interest and Information</a></li>
      <li><a [routerLink]="['/','contact']">Contact</a></li>
    </ul>
    <a class="header__login" [routerLink]="['/','login']">Login</a>
  </div>
</ng-container>
