
<ng-container *ngIf="vm$ | async as vm" [formGroup]="vm.form">
  <h2>Start Maintenance Request</h2>

  <mat-radio-group [formControl]="formControl">
    <mat-radio-button [value]="UnitEntered.MemberAtHome">Member At Home</mat-radio-button>
    <mat-radio-button [value]="UnitEntered.MemberNotAtHome">Member Not At Home</mat-radio-button>
    <mat-radio-button [value]="UnitEntered.EmergencyEntryRequired">Emergency Entery Required</mat-radio-button>
  </mat-radio-group>


  <mat-form-field>
    <mat-label>
      Work Started Date
    </mat-label>
    <input type="text" [matDatepicker]="picker" matInput placeholder="Work Started Date" formControlName="workStarted">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="g-actions">
    <button mat-stroked-button>Cancel</button>
    <button mat-stroked-button (click)="save(vm)">Save</button>
  </div>

</ng-container>
