<div *ngIf="vm$ | async as vm">

  <div class="g-heading-group">
    <h2>Board Member List</h2>
    <div class="g-heading-group__actions-container">
        <button mat-raised-button (click)='create()' class="g-button">Create</button>
    </div>
  </div>

  <table mat-table [dataSource]="vm.dataSource" class="g-table" style="--grid-template-columns: 1fr 2fr 2fr 48px">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let boardMember"> {{ boardMember.boardTitle }} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let boardMember"> {{ boardMember.firstname }} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let boardMember"> {{ boardMember.lastname }} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let boardMember">
          <button mat-icon-button (click)="edit(boardMember)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="vm.columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let data; columns: vm.columnsToDisplay"></tr>

  </table>

  <mat-paginator #paginator [length]="vm.length$ | async" [pageSize]="vm.pageSize" [pageSizeOptions]="[5, 10, 20]" class="g-paginator" (page)="vm.dataSource.getPage({ pageIndex: paginator.pageIndex, pageSize: vm.pageSize })"></mat-paginator>

</div>

