<ng-container *ngIf="vm$ | async as vm">

  <h2 class="g-page-title">{{ vm.heading }}</h2>

  <h3>{{ vm.subHeading }}</h3>

  <div class="board__grid">
    <div *ngFor="let boardMember of vm.boardMembers" class="board__card">
      <div class="board__card__image" style="{{ 'background-image: url(' + baseUrl + 'api/digitalAsset/serve/' + boardMember.avatarDigitalAssetId + ');' }}">
      </div>
      <h2>{{ boardMember.firstname + ' ' + boardMember.lastname  }}</h2>
      <h3>{{ boardMember.boardTitle  }}</h3>
    </div>
  </div>


</ng-container>
