
<ng-container *ngIf="vm$ | async as vm" [formGroup]="vm.form">

  <button mat-icon-button [mat-dialog-close] class="g-dialog-close-button" tabindex="-1">
    <mat-icon>
      close
    </mat-icon>
  </button>

  <h2>Complete Maintenance Request</h2>

  <app-maintenance-request [maintenanceRequest]="vm.maintenanceRequest"></app-maintenance-request>

  <mat-form-field class="g-form-field" appearance="outline">
    <mat-label>
      Work Completed By Name
    </mat-label>
    <input type="text" matInput placeholder="Work Completed By Name" formControlName="workCompletedByName">
  </mat-form-field>

  <mat-form-field  class="g-form-field" appearance="outline">
    <mat-label>
      Work Completed Date
    </mat-label>
    <input type="text" [matDatepicker]="picker" matInput placeholder="Work Completed Date" formControlName="workCompletedDtate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="g-actions">
    <button mat-stroked-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button (click)="save(vm)">Save</button>
  </div>

</ng-container>
