@use '/src/scss/breakpoints';

:host {
  position: relative;
  display: block;

  main {
    display: block;
    width: calc(100vw - 120px);
    max-width: 1500px;
    margin: 0 60px;
    box-sizing: border-box;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: breakpoints.$screen-lg) {
  :host {
    main {
      margin: 0 auto;
    }
  }

}
